@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Karma:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Karma', serif;
    color: #e5d9c2;
    letter-spacing: 4px;
}

/* Heading, paragraph and Logo */

h1, h2 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;

}

p {
font-family: 'Karma', serif;
}

#logo{

    float: left;
    margin-left: 30px;

}

/* Navigation Menu */

#nav-menu {

    font-size: 120%;
    background-color: #FAF9F6
    ;

}

#nav-menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;


}
