@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Karma:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Karma', serif;
    color: #e5d9c2;
    letter-spacing: 4px;
}

/* Heading, paragraph and Logo */

h1, h2 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    color: #e5d9c2;


}

p {
font-family: 'Karma', serif;
}

#logo{
    font-size: 300%;
    float: left;
    margin-left: 30px;
    line-height: 75px;


}

/* Navigation Menu */

#nav-menu {

    font-size: 120%;
    background-color: #FAF9F6;
    letter-spacing: 5px;
    line-height: 75px;


}

#nav-menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    font-weight: bold;

}

#nav-menu a {
    text-decoration: none;
    color: inherit;

}

#nav-menu a:hover {
    border-bottom: 1px solid #e5d9c2;
}




/* main image and main text */

#outside-main-image {

    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    

}

#main-image {
    width: 100%;
    height: 500px;
    background: url('../images/main-image.jpg') no-repeat center center;

}

#main-text {
    color: #e5d9c2;
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing:4px;
    width: 25%;
    height: 50%;
    bottom: 10%;
    right: 8%;
    position: absolute;
   

}





/* body main sections*/


/* about styling*/

#about {
    background-color:#281b13;

}

#about-section {
height: 600px;
width: 100%;
margin: center;
list-style-type: none;
text-align: center;


}

#about-section h3 {
    font-family: 'Fjalla One', sans-serif;
}


#about-image {
    background: url('../images/about-image.jpg') no-repeat center center;
    width: 100%;
    height: 500px;



}

/* timetable styling*/

#timetable {
    background-color: #FAF9F6;
}

#timetable-section {
height: 600px;
width: 100%;
background-color: blue;

}

#signup {
    background-color: #FAF9F6;
}

#signup-section {
height: 600px;
width: 100%;
background-color: green;

}

#contact {
    background-color: #FAF9F6;
}

#contact-section {
height: 600px;
width: 100%;
background-color: black;

}