@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Karma:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Karma', serif;
    color: #e5d9c2;
    letter-spacing: 4px;
}

/* Heading, paragraph and Logo */

h1 ,h2 ,h3 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    color: #e5d9c2;


}

p {
font-family: 'Karma', serif;
}

#logo{
    font-size: 300%;
    float: left;
    margin-left: 30px;
    line-height: 75px;


}

/* Navigation Menu */

#nav-menu {

    font-size: 120%;
    background-color: #FAF9F6;
    letter-spacing: 5px;
    line-height: 75px;
    text-transform: uppercase;


}

#nav-menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    font-weight: bold;

}

#nav-menu a {
    text-decoration: none;
    color: inherit;

}

#nav-menu a:hover {
    border-bottom: 1px solid #e5d9c2;
}




/* main image and main text */

#outside-main-image {

    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    

}

#main-image {
    width: 100%;
    height: 500px;
    background: url('../images/main-image.jpg') no-repeat center center;

}

#main-text {
    color: #e5d9c2;
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing:4px;
    width: 25%;
    height: 50%;
    bottom: 10%;
    right: 8%;
    position: absolute;
   

}





/* body main sections*/


/* about styling*/

#about {
    background-color:#281b13;

}

#about-section {
height: 600px;
width: 100%;
list-style-type: none;
text-align: center;

}
#about-section ul {

    padding: 1%;
}

#about-section h3 {
    font-family: 'Fjalla One', sans-serif;
}


#about-image {
    background: url('../images/about-image.jpg') no-repeat center center;
    width: 100%;
    height: 350px;



}

/* timetable styling*/

table {
    color: #281b13;
    background-color: #e5d9c2;
    font-size: 95%;
    font-family: 'Karma', serif;
    width: 100%;
    height: 95%;
    border-collapse:collapse;
    border:1px solid white;
    text-align: center;

}

#tr-headings {
font-size: x-large;
}

table td, tr {
    border:1px solid white;
    text-align: center;
    }



#timetable {
    background-color: #281b13;
}

#timetable-section {
height: 600px;
width: 100%;
text-align: center;


}

/* signup styling*/

#signup {
    background-color: #281b13;
}

#signup-section {
height: 600px;
width: 100%;
background: url(../images/signup-image.jpg)no-repeat center center;
text-align: center;

}

.signup {
    background-color: #FAF9F6;
    border: 3px solid #281b13;
    color: #281b13;
    position:absolute;
    max-width: 400px;
    margin: 8%;
    padding: 50px;
    right: 10%;
    font-size: x-large;    
}

#submit-button {
    font-size: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FAF9F6;
    background-color: #281b13;
    border: 3px solid #e5d9c2;
    border-radius: 15px;
    box-shadow: 3px 3px 3px;
    width: 50%;
    

}

#submit-button:hover {
    background-color: #e5d9c2;
    color: #281b13;
}

.form-input {
    background: transparent;
    border: 3px solid #281b13;
    width: 80%;
    height: 23px;
}


#contact {
    background-color: #281b13;
}

#contact-section {
height: 200px;
width: 100%;
text-align: center;
background-color:#e5d9c2;
}


.social-networks{
    background-color: #e5d9c2;
}

.social-networks i {
text-align: center;
font-size: 150%;
color: #281b13;
margin: 1%;
padding: 5%;

}

.social-networks > li {
    display: inline;

   
    
}

/* Mobile in portait min 320px and max 480*/

@media (min-width: 320px) and (max-width: 480px) {

    #nav-menu{
        text-align: center;
  }
}